APP_ENV=dev                          # dev | prod
PORT=8000
HOST=0.0.0.0
DATABASE_URL=xx
GOOGLE_CLIENT_ID=xx
GOOGLE_CLIENT_SECRET=xx
GOOGLE_REDIRECT_URL=xx
JWT_SECRET=xx
RESEND_API_KEY=xx
EMAIL_FROM=no-reply@xx.com
FRONTEND_URL=http://localhost:7000
MIDTRANS_MERCHANT_KEY=x
MIDTRANS_CLIENT_KEY=xx
MIDTRANS_SERVER_KEY=xx
MAYAR_API_KEY=xx
MAYAR_WEBHOOK_TOKEN=xx
TOPUP_API_URL=xxx
TOPUP_API_KEY=your-topup-key
APP_TIMEZONE=Asia/Jakarta
